@import "./lib/include-media";
@import "./lib/animate";
@import "./lib/layout";
@import "./lib/vex";
@import "./lib/vex-theme-plain";
@import "./lib/slick";
@import "./lib/slick-theme";
@import "./lib/jquery.fancybox";
@import "./lib/bootstrap-glyphicons-only";
@import "./lib/pannellum";
@import "globals";
@import "colors";
@import "fonts";
@import "icons";
@import "mixins";
@import "nav";
@import "breadcrumbs";
@import "footer";
@import "spinner";
@import "experiment-group";
@import "experiment";
@import "comparisons";
@import "timeline";
@import "home";

body {
  min-height: 100vh;
}

.screen {
  background-color: white;
  font-family: $font-primary;
  color: black;
  overflow: auto;
}

.container {
  margin: 0 7%;
  width: 86%;
}
