@import "colors";

.breadcrumbs {
  background: $breadcrumbBackground;
  padding-left: 7%;

  a {
    @include default-transition;
    padding: 0.65rem 30px 0.65rem 45px;
    margin-left: -5px;
    font-size: 0.8rem;
    background-color: $breadcrumbBackground;
    color: $lightGray;
    position: relative;
    display: inline-block;

    &:hover {
      color: $white;
      box-shadow: -2px 2px 2px rgba(0,0,0,0.2) inset;
      background-color: $breadcrumbBackgroundHover;
    }

    &:first-child {
      padding-left: 1em;

      .icon {
        margin-right: 1em;
      }
    }

    &:last-child {
      background-color: $breadcrumbBackgroundHover;
      color: $lightGray;
      &:hover {
        color: $white;
        background-color: $breadcrumbBackgroundHover;
      }
    }

    &::after {
      content: "";
      background-color: $breadcrumbBackground;
      color: $gray2;
      height: 31px;
      width: 31px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      display: block;
      position: absolute;
      right: -16px;
      top: 6px;
      border-radius: 2px;
      z-index: 1;
      box-shadow: inherit;
      background-color: inherit;
    }
  }
}
