$blue: #527dcf;
$orange: #ef8200;
$white: white;
$gray:  #A0A0A0;
$gray2: #666666;
$gray3: #979797;
$gray4: #828282;
$gray5: #4f4f4f;
$darkGray: #333333;
$lightGray: #f6f6f6;
$medLightGray: #f2f2f2;
$background: #212121;
$heroBG: #F3F3F3;
$breadcrumbBackground: #BA001F;
$breadcrumbBackgroundHover: #801716;
$timelineLine: #D7D7D7;
$red: #b10820;
$red2: desaturate($red, 30%);
