.experiment {
  .help-360 {
    img {
      height: 1em;
      width: auto;
      vertical-align: middle;
    }
  }

  a {
    @extend .-red-link;
  }

  .floors {
    @extend .-full-width;
    background-color: $gray5;
    padding: 2rem 5%;

    .sensor-icon {
      width: 30px;
      height: 30px;

      &.temperature {
        background: url(asset_path('legend-icon-thermocouple-array.png')) no-repeat center;
        background-size: contain;
      }

      &.pressure {
        background: url(asset_path('legend-icon-pressure.png')) no-repeat center;
        background-size: contain;
      }

      &.heat_flux {
        background: url(asset_path('legend-icon-heat-flux.png')) no-repeat center;
        background-size: contain;
      }

      &.gas {
        background: url(asset_path('legend-icon-gas.png')) no-repeat center;
        background-size: contain;
      }
      
      &.skin_temp {
        background: url(asset_path('legend-icon-skin-temp.png')) no-repeat center;
        background-size: contain;
      }
      &.moisture {
        background: url(asset_path('legend-icon-moisture.png')) no-repeat center;
        background-size: contain;
      }

    }

    .floorplan {
      position: relative;
      max-width: 1000px;
      margin-right: 10%;

      @include media("<sm") {
        margin-right: 0;
      }

      .base-image {
        width: 100%;
        height: 100%;
      }

      .sensor {
        @extend .sensor-icon;

        position: absolute;
        width: 5%;
        height: 0;
        cursor: pointer;
        transition: opacity 0.25s;

        img {
          width: 100%;
          height: auto;
        }
      }

      .panorama {
        position: absolute;
        cursor: pointer;
        transform: translateX(19%) translateY(21%);
        -ms-transform: translateX(19%) translateY(21%);
        -webkit-transform: translateX(19%) translateY(21%);
        width: 4.7%;
        transition: opacity 0.25s;
      }
    }

    .controls {

      .section {
        margin-bottom: 4rem;

        .header {
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 1rem;
          letter-spacing: .08rem;
        }

        .button {
          border-radius: 100%;
          border: solid 2px $gray4;
          cursor: pointer;
          font-size: 125%;
          font-weight: 700;
          height: 50px;
          width: 50px;
          margin-bottom: 1rem;
          transition: all 0.25s;
          user-select: none;

          &.active {
            border: none;
            background: white;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            color: black;
          }

          > span {
            pointer-events: none;
            &:before {
              position: relative;
            }
          }

          &.panoramas {
            > span:before {
              top: 3px;
            }
            &.active {
              color: #4990e2;
            }
          }

          &.sensors {
            > span:before {
              top: 2px;
            }
            &.active {
              color: #9E56B1;
            }
          }
        }
      }
      @include media("<sm") {
        margin-top: 1rem;

        .section {
          margin: 0;
          padding: 0;

          &:first-child {
            margin-right: 1rem;
          }

          .header {
            margin: 0 1rem 0 0;
          }

          .button {
            margin: 0 1rem 0 0;
          }
        }
      }

      @include media("<xs") {
        .section {
          margin: 0;
          padding: 0;
          width: 100%;
          flex-wrap: wrap;

          &:first-child {
            margin-bottom: 1rem;
          }

          .header {
            min-width: 60px;
            margin: 0 1rem 0.5rem 0;
            width: 100%;
          }
        }
      }
    }

    .legend {
      font-size: 13px;
      margin: 2rem 0 0 0;
      width: 1066px;

      .header {
        font-weight: 600;
        letter-spacing: .1rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
      }

      .item {
        color: $gray;
        font-weight: 500;
        letter-spacing: 0.03rem;
        margin-right: 1.75rem;
        line-height: 1.2;

        .icon {
          @extend .sensor-icon;
          margin-right: 0.5rem;
        }
      }

      @include media("<xs") {

        .header {
          min-width: 60px;
        }

        > div:last-child {
          flex-wrap: wrap;
        }

        .item {
          margin: 0 0 0.5rem 0;
          width: 100%;
        }
      }
    }
  }

  .experiment-body {
    @extend .-container;
    max-width: 100%;

    .body-content {
      padding: 4rem 4rem 4rem 7%;

      .video {
        width: 100%;
        height: 30vw;

        @include media('<sm') {
          height: 48vw;
        }
      }
    }

    .callout {
      padding: 4rem;
      background-color: $medLightGray;
    }

    .training_resources {
      display: flex;
    }
  }
}
