
.home {
  .hero {
    color: white;
    background: black;
    height: 45rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.73), rgba(0,0,0,0.7)),
                url(asset_path('home/hero.jpg')) no-repeat bottom;
    background-size: cover;
    font-size: 2rem;

    @include media("<sm") {
      height: 35rem;
    }

    .header {
      text-align: center;
      padding: 0 7%;
      transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      -webkit-transform: translateY(-1rem);

      .title {
        font-size: 3.75rem;
        font-weight: 800;
        margin-bottom: .75rem;

        @include media("<sm") {
          font-size: 1.85rem;
        }
      }

      .subtitle {
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: .07rem;

        @include media("<sm") {
          font-size: 1rem;
        }
      }
    }
  }

  .content {
    padding: 0 7%;
    margin: -9rem auto 0;
    max-width: 1200px;

    @include media("<sm") {
      margin: -11rem auto 0;
    }

    .section {
      margin-bottom: 4rem;
    }

    .experiment-group-card {
      background: $medLightGray;
      box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.15);

      &:nth-child(2){
        margin: 1.5rem 0;

        @include default-transition;

        @include media(">sm") {
          margin: 0 1.5rem;
        }
      }

      .image {
        position: relative;
        height: 13rem;

        .image-icon {
          $size: 50px;

          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          height: $size;
          width: $size * 2;
          border-top-left-radius: $size * 2;
          border-top-right-radius: $size * 2;
          background: $medLightGray;

          > img {
            position: relative;
            left: 1.4rem;
            top: 1rem;
          }

          .eft-icon {
            left: 1.6rem;
            top: 1.2rem;
          }
        }
      }

      .text {
        padding: 1.6rem;
        color: $gray2;

        .title {
          font-weight: bold;
          margin-bottom: 8px;
          color: black;
          text-transform: uppercase;
        }
      }

      .learn-more {
        padding: 0 1.6rem 1.6rem;
      }
    }

    .info-left {
      margin-right: 7%;

      @include media('<=sm') {
        margin-right: 0;
        margin-bottom: 2rem;
      }

      .objectives-header {
        margin-top: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
      }

      .objective-row {
        margin-bottom: 1.5rem;

        &:first-of-type {
          margin-top: 1.5rem;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        div {
          &:first-of-type {
            margin-right: 1rem;
          }
        }
      }
    }

    .info-right {
      .project-partners {
        margin-bottom: 2rem;

        .nij-logo {
          background: #f5f5f5;
          padding: 1.5rem 4rem;
          box-sizing: border-box;
          border: solid 1px #e0e0e0;
          width: 100%;
          height: auto;
          max-width: 414px;
        }
      }
    }

    .multimedia {
      .grid-container {
        height: 37rem;

        .isotope-container {
          height: 37rem;

          .sizer {
            width: 25%;
          }

          .item {
            position: relative;
            box-sizing: border-box;
            width: 25%;
            height: 18.5rem;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            @include media("<sm") {
              width: 50%;
              height: 18.5rem;
            }
            @include media("<xs") {
              width: 100%;
            }

            &.big {
              width: 50%;
              height: 37rem;
              @include media("<sm") {
                width: 100%;
                height: 18.5rem;
              }
            }

            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.55);
              transition: background-color 0.5s;
              cursor: pointer;
            }

            &:hover {
              &:after {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }

      .load-more {
        margin-top: 4rem;
      }
    }
  }
}
