/*  ======== Icon Workflow with Icomoon ===========

Icomoon is an icon management tool and allows us to build and maintain our own icon font.
For more information on this workflow please contact: bingles@prominentedge.com

  1. Locate 'fsri-icon-font.json' under the 'fonts' directory
  2. Visit https://icomoon.io/app/
  3. Select 'Import Icons'
  4. IMPORTANT: Choose 'Yes' when prompted to 'load all the settings stored in
     your selection file'.
  5. Add, remove, edit icons as necessary. Please insure icons adhere to a 16x16 grid size.
  6. When finished, select 'Generate Font' to download the new icon font payload. This will generate all
     all necessary font files along with JSON backup file and CSS.
  7. Apply and test
  8. IMPORTANT: Update the 'fsri-icon-font.json' file to the latest - you may have to rename the default
     JSON file in the icon payload

 ================================================= */

@charset "UTF-8";

@font-face {
  font-family: "fsri";
  src:url(asset_path("fsri.eot"));
  src:url(asset_path("fsri.eot?#iefix")) format("embedded-opentype"),
  url(asset_path("fsri.woff")) format("woff"),
  url(asset_path("fsri.ttf")) format("truetype"),
  url(asset_path("fsri.svg#fsri")) format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "fsri" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fsri" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar-o:before {
  content: "\61";
}
.icon-search:before {
  content: "\62";
}
.icon-th:before {
  content: "\63";
}
.icon-file-text:before {
  content: "\64";
}
.icon-arrow-left:before {
  content: "\65";
}
.icon-arrow-right:before {
  content: "\68";
}
.icon-play-video:before {
  content: "\69";
}
.icon-presentation:before {
  content: "\6b";
}
.icon-bars:before {
  content: "\6d";
}
.icon-arrow-down:before {
  content: "\6e";
}
.icon-user:before {
  content: "\70";
}
.icon-comment-o:before {
  content: "\71";
}
.icon-graduation-cap:before {
  content: "\72";
}
.icon-facebook:before {
  content: "\75";
}
.icon-twitter:before {
  content: "\66";
}
.icon-youtube:before {
  content: "\6c";
}
.icon-vimeo:before {
  content: "\6f";
}
.icon-instagram:before {
  content: "\67";
}
.icon-linkedin:before {
  content: "\73";
}
.icon-facebook-no-circle:before {
  content: "\74";
}
.icon-instagram-no-circle:before {
  content: "\76";
}
.icon-twitter-no-circle:before {
  content: "\6a";
}
.icon-fire:before {
  content: "\77";
}
.icon-open-arrow:before {
  content: "\78";
}
.icon-house:before {
  content: "\79";
}
.icon-flame:before {
  content: "\80";
}
.icon-360:before {
  content: "\81";
}
.icon-sensors:before {
  content: "\82";
}
